<% @comments.each do |comment| %>

<% if comment.reply_comment.present? || comment.blank? %>
  <% next %>
<% end %>
<div class="comment__item">
  <% if user_signed_in? && comment.user == current_user %>
    <%= link_to image_tag("delete", alt: "delete"), recipe_comment_path(comment.recipe.id, comment.id), class: 'comment__delete', method: :delete, data: { confirm: '削除してよろしいですか？' } %>
  <% end %>
  <div class="comment__info">
    <%= link_to image_tag(comment.user.avatar.url), user_path(id: comment.user_id), class: "comment__img" %>
    <%= link_to comment.user.name, user_path(id: comment.user_id), class: "comment__name"%>
    <div class="post-date"><%= comment.created_at.to_s(:datetime_jp) %></div>
  </div>

  <div class="comment__content"><%= comment.content %></div>
  
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= render 'comments/reply_form', comment: comment %>
    </div>
  <% end %>

  <%= render 'comments/reply_comment', comment: comment %>
</div>

<% end %>

