<%= form_with(model: @recipe, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <!-- 中見出しここから -->
  <%= f.text_field :title,  :placeholder =>"レシピのタイトルを入力", id: "recipe-title"%>
  <!-- 中見出しここまで -->

  <!-- 投稿ボタンここから -->
  <%= f.submit class: "btn btn-primary w-150px"%>
  <!-- 投稿ボタンここまで -->

  <!-- 左ここから -->
  <div class="left">
    <div class="form-recipe-image">
      <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %><br>
    </div>
    <h3>手順一覧</h3>

    <div class="form-steps">
      <%= f.fields_for :steps do |step| %>
        <%= render "step_fields", f: step %>
      <% end %>
      <%= link_to_add_association '手順を追加', f, :steps %>
    </div>
  </div>
  <!-- 左ここまで -->

  <!-- 右ここから -->
  <div class="right">
    <h3>レシピの説明</h3>
    <%= f.text_area :description, id: "form-recipe-description" %>

    <h3>材料・分量</h3>

    <div class="form-ingredient">
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render "ingredient_fields", f: ingredient %>
      <% end %>
      <%= link_to_add_association '材料・分量を追加', f, :ingredients %>
    </div>
 </div>
  <!-- 右ここまで -->

<% end %>
