<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="step__inputBx">
    <p class="step__number"></p>
    <%= f.text_area :direction, class:"step__input"%>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url, class: "step__preview" %>
    <% else %>
      <%= image_tag 'no_image', class: "step__preview" %>
    <% end %>
    <%= link_to '#' , class: "remove-field-btn" do %>
      <%= image_tag 'delete', class: "js-remove_fields" %>
    <% end %>
    <div class="step__file-input">
      <span class="step__file-label">変更後の画像：</span><%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
      <div class="step__file-label">
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image, "画像を削除" %>
      </div>
    </div>
  </div>
</div>
