<p id="notice"><%= notice %></p>

<div class="d-flex align-items-center">
  <h1>レシピ一覧</h1>
  <div class="ml-auto recipes__linkBox">
    <%= link_to '新規投稿', new_recipe_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>

<table class="table table-hover recipes__table">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= image_tag recipe.display_image, class: 'recipe-show' if recipe.image.attached? %></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.description %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
