<% @title = "レシピ投稿一覧" %>

<p id="notice"><%= notice %></p>

<div class="d-flex align-items-center">
  <h1>レシピ一覧</h1>
  <div class="ml-auto recipes__linkBox">
    <%= link_to '新規投稿', new_recipe_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-lg-4 col-sm-6 mb-3 recipe-box">
      <%= image_tag recipe.display_image, class: 'img-thumbnail recipe-index' if recipe.image.attached? %>
      <div class="recipe-link">
        <ul>
          <li><%= recipe.title %></li>
          <li><%= recipe.description %></li>
          <li>
            <%= link_to 'Show', recipe %> |
            <%= link_to 'Edit', edit_recipe_path(recipe) %> |
            <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?'} %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
