<div class="cooking-title">
  <% if @search.present? %>
    「<%= @search %>」の検索結果
  <% else %>
    検索結果
  <% end %>
</div>
<%= render 'shared/recipe_search' %>
<%= render 'shared/recipe_list' %>

<%= paginate @recipes %>

<div class="btn-center"><%= link_to 'レシピ一覧ページに戻る', recipes_path, class:"btn cancel"%></div>