<main>
  <section class="description">
  <!-- 投稿完了後のフラッシュメッセージ -->
    <% unless flash[:error_messages] %>
      <%= render 'layouts/notifications' %>
    <% end %>
    <div class="description__inner">
      <div class="description__img">
        <%= image_tag @recipe.image if @recipe.image.attached? %>
      </div>
      <div class="description__texts">
        <div class="description__title">
          <%= @recipe.title %>
          <div class="description__detail">
            <%= @recipe.description %>
          </div>
        </div>

        <div class="recipeuser">
          <div class="cooking-title">ユーザープロフィール</div>
          <div class="recipeuser__inner">
            <div class="recipeuser__img">
              <% if @recipe.user.avatar.attached? %>
                <%= link_to image_tag(@recipe.user.avatar), user_path(id: @recipe.user_id) %>
              <% end %>
            </div>
            <%= link_to @recipe.user.name, user_path(id: @recipe.user_id), class:"recipeuser__name" %>
            <% if user_signed_in? && @recipe.user == current_user %>
              <%= link_to 'レシピ編集', edit_recipe_path, class:"btn edit-btn" %>
            <% end %>
          </div>
        </div>

        <section class="ingredient">
          <div class="cooking-title">材料</div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredient__ul">
              <div><%= ingredient.content %></div>
              <div><%= ingredient.quantity %></div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </section>

  <section class="tag">
    <div class="cooking-title">関連タグ</div>
    <div class="tag__container">
      <% if @recipe.tags.empty? %>
        <p class="tag__none">関連タグが設定されていません</p>
      <% else %>
        <% @recipe.tags.each do |tag| %>
          <%= render_with_tags(tag.name, tag.id) %>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="step">
    <div class="cooking-title">作り方</div>
    <% @recipe.steps.each do |step| %>
      <div class="step__item">
        <div class="step__inner">
          <p class="step__number"></p>
          <p class="step__description"><%= step.direction %></p>
          <div class="step__img"><%= image_tag step.step_image if step.step_image.attached? %></div>
        </div>
      </div>
    <% end %>
  </section>
  <section class="comment">
    <div class="comment__inner">
      <div class="comment__texts">
        <div class="comment__count">コメント<%= @comments.count %>件</div>
        <%= render @comments %>
      </div>
      <div class="comment__form">
        <%= render 'comments/form' %>
      </div>
    </div>
  </section>
</main>