
  <%= image_tag @recipe.display_image if @recipe.image.attached? %>

<p>
  <strong>レシピのタイトル：</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>レシピの説明：</strong>
  <%= @recipe.description %>
</p>

<h3>材料一覧</h3>
<ul>
  <% for @ingredient in @recipe.ingredients %>
    <li><%= @ingredient.content %>：<%= @ingredient.quantity %></li>
  <% end %>
</ul>

<h3>手順</h3>
<ol>
  <% for @step in @recipe.steps %>
    <li><%= @step.direction %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
