<main>
  <section class="description">
    <div class="description__inner">
      <div class="description__img">
        <%= image_tag @recipe.image if @recipe.image.attached? %>
      </div>
      <div class="description__texts">
        <!-- 投稿完了後のフラッシュメッセージ -->
        <%= render 'layouts/notifications' %>

        <div class="description__title">
          <%= @recipe.title %>
          <div class="description__detail">
            <%= @recipe.description %>
          </div>
        </div>

        <div class="recipeuser">
          <div class="recipeuser__title">ユーザープロフィール</div>
          <%= link_to(user_path(id: @recipe.user_id), class:'recipeuser__inner') do %>
            <div class="recipeuser__img"><%= image_tag @recipe.user.avatar %></div>
            <div class="recipeuser__name"><%= @recipe.user.name %></div>
          <% end %>
        </div>

        <section class="ingredient">
          <div class="ingredient__title">材料</div>
          <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredient__ul">
              <div><%= ingredient.content %></div>
              <div><%= ingredient.quantity %></div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </section>
  <section class="step">
    <div class="step__title">作り方</div>
    <% @recipe.steps.each_with_index do |step, i| %>
      <div class="step__item">
        <div class="step__inner">
          <p class="step__number"><%= "#{i+1}" %></p>
          <p class="step__description"><%= step.direction %></p>
          <div class="step__img"><%= image_tag step.step_image if step.step_image.attached? %></div>
          </div>
      </div>
    <% end %>
  </section>
</main>