<%= render 'shared/flash' %>
<div class="cooking-title">相談フォーム</div>

<%= form_with(model: @consultation, local: true) do |f| %>
  <section class="consultation">
    <div class="consultation__inputBx">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "例)栄養満点で簡単に作れるおすすめレシピについて" %>
    </div>

    <div class="consultation__inputBx">
      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "例)自炊継続できていますが、栄養が偏っているような気がしています。時間をあまりかけたくないので、栄養満点で簡単に作れるおすすめレシピはありますか。" %>
    </div>
    <div class="submit"><%= f.button "送信する" , class:"btn slide-bg" %></div>
  </section>
<% end %>