<div class="cooking-title">相談詳細</div>

<section class="consultation">
  <!-- 投稿完了後のフラッシュメッセージ -->
  <% unless flash[:error_messages] %>
    <%= render 'layouts/notifications' %>
  <% else %>
    <%= render 'shared/error_messages' %>
  <% end %>
  <div class="consultation__inner">
    <div class="consultation__info">
        <%= link_to(user_path(id: @consultation.user_id), class:'consultation__user-show-img') do %>
          <%= image_tag @consultation.user.avatar.url  %>
        <% end %>
        <%= link_to @consultation.user.name, user_path(id: @consultation.user_id), class: "consultation__user-name" %>
    </div>
    <div class="consultation__main">
      <div class="consultation__says">
        <div class="consultation__title"><%= @consultation.title %></div>
        <div class="consultation__content">
          <%= @consultation.content %>
          <% if user_signed_in? && @consultation.user == current_user %>
            <%= link_to '編集', edit_consultation_path, class: "consultation__edit-link" %>
          <% end %>
        </div>
        <div class="consultation__detail-info">
          <p class="consultation__pv">閲覧数：<%= @consultation.impressions_count %></p>
          <p class="post-date"><%= @consultation.created_at.to_s(:datetime_jp) %>に投稿</p>
        </div><br>
        <div class="consultation__interest" id="consultation_<%= @consultation.id %>">
          <%= render partial: "interest", locals: { consultation: @consultation } %>
        </div>
      </div>
    </div>
  </div>
</section>
  <%= render partial: 'shared/consultation_comment' , locals: { comments: @comments } %>