<div class="user__inner">
  <div class="user__info">
    <div class="user__img">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar) %>
      <% else %>
        <%= image_tag 'default_user' %>
      <% end %>
    </div>
    <div class="user__name"><%= @user.name %></div>
  </div>
  <div class="user__submenu">
    <%= render 'shared/user_submenu' if @user == current_user %>
    <div id="follow_form"><%= render 'follow_form' if user_signed_in? %></div>
  </div>
</div>

<div class="user__stats">
  <%= render 'shared/stats' %>
</div>

