<section class="login">
  <div class="login__imgBx">
    <%= image_tag 'introduction.jpg' %>
  </div>
  <div class="login__contentBx">
    <div class="login__formBx">
      <div class="login__title">アカウント復旧</div>
      <%= render 'layouts/notifications' %>
      
      <%= form_with url: restore_mail_user_path do |f| %>
        <div class="login__inputBx">
          <%= f.label :email, 'Eメール', {class: 'login__label'} %>
          <%= f.email_field :email,
                            autofocus: true,
                            required: true,
                            maxlength: '30'%>
        </div>

        <div class="login__inputBx">
          <%= f.submit "アカウント復旧メール送信" %>
        </div>
      <% end %>

      <div class="login__inputBx">
        <%= link_to 'ログインページに戻る', new_user_session_path %>
      </div>
    </div>
  </div>
</section>
