<section class="user">
  <%= render 'show_user' %>
</section>

<section class="user-list">
  <div class="subheader">
    <div class="main-title"><%= @title %></div>
  </div>
  <%= render 'layouts/notifications' %>

  <% if @consultations.any? %>
    <%= render 'shared/recipe_consultation' %>
  <% else %>
    <p class="notthing"><%= "#{@user.name}さんの相談はありません。" %></p>
  <% end %>
  <%= paginate @consultations %>
</section>

