<section class="user">
  <%= render 'show_user' %>
</section>

<%= render 'layouts/notifications' %>
<section class="user-list">
  <div class="subheader">
    <div class="main-title"><%= @title %></div>
  </div>

  <% if @inventories.any? %>
    <%= render 'shared/food_inventory' %>
  <% else %>
    <p class="notthing"><%= "保存中の食材はありません。" %></p>
  <% end %>
  <%= paginate @inventories %>

  <div class="btn-center"><%= link_to '保存中の食材を登録', new_inventory_path, class:"btn slide-bg" %></div>

</section>