<section class="user">
  <%= render 'show_user' %>
</section>

<%= render 'shared/flash' %>
<section class="user-list">
  <div class="subheader">
    <div class="main-title">Interest</div>
  </div>

  <% if @consultations.any? %>
    <section class="consultation">
      <%= render 'shared/recipe_consultation' %>
    </section>
  <% else %>
    <p class="notthing"><%= "#{@user.name}さんが気になっている相談はありません。" %></p>
  <% end %>

  
  <%= paginate @consultations %>
</section>
