<section class="user-list">
  <div class="cooking-title"><%= @user.name %><%= @title %></div>

  <% if @users.any? %>
    <%= render 'shared/user-list' %>
  <% else %>
    <p class="notthing"><%= @message %></p>
  <% end %>
  <%= paginate @users %>

  <div class="btn-center"><%= link_to 'マイページに戻る', @user, class:"btn cancel"%></div>
</section>
