<div class="list__container">
  <% @recipes.each do |recipe| %>
    <%= link_to(recipe_path(id: recipe.id), class:'list__item') do %>
      <div class="list__img">
        <%  if recipe.image.attached? %>
          <%= image_tag(recipe.image) %>
        <% else %>
          <%= image_tag 'no_image' %>
        <% end %>
      </div>
      <div class="list__detail">
        <span class="timestamp"><%= recipe.created_at.to_s(:datetime_jp) %></span><br>
        <p class="list__recipetitle"><%= recipe.title %></p><br>
        <p class="list__description"><%= recipe.description %></p>
      </div>
    <% end %>
  <% end %>
</div>