<%= render 'layouts/notifications' %>

<main>
  <section class="introduction">
      <div class="introduction__inner">
        <div class="introduction__img">
          <%= image_tag 'introduction.jpg' %>
        </div>
        <div class="introduction__texts">
          <div class="introduction__texts-inner">
            <div class="introduction__title main-title">
              Share recipes!
            </div>
            <div class="introduction__sub sub-title">
              レシピを共有しよう
            </div>
            <div class="introduction__description">
            <p>一人暮らしの方<br>毎日の料理づくりをサポートするアプリです。</div></p>
            <p>あなたの望むレシピがきっと見つかります。</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="list">
    <div class="subheader">
      <div>
        <p class="main-title">New Arrival</p>
        <p class="sub-title">新しいレシピを見つけよう</p>
      </div>
      <%= link_to image_tag('read_more', class: "read_more-btn"), recipes_path %>
    </div>
    <%= render 'shared/recipe_list' %>
  </section>
  
  <section class="tweet">
    <div class="subheader">
      <div>
        <p class="main-title">TimeLine</p>
        <p class="sub-title">フォロー中のレシピ</p>
      </div>
      <%= link_to image_tag('read_more', class: "read_more-btn"), recipes_tweet_path %>
    </div>
    <%= render 'shared/recipe_tweet' %>
  </section>
</main>
