<%= render 'layouts/notifications' %>

<section class="list">
  <div class="cooking-title">タイムライン</div>
  <div class="tweet__container">
    <% @tweet.each do |recipe| %>
      <div class="tweet__item">
        <%= link_to image_tag(recipe.user.avatar.url), user_path(id: recipe.user_id), class:"tweet__user-avatar" %>
        <div class="tweet__detail">
          <div class="tweet__info">
            <%= link_to recipe.user.name ,user_path(id: recipe.user_id), class:"tweet__user-name" %>
            <span class="timestamp"><%= recipe.created_at.to_s(:short) %></span>
          </div>
          <div class="tweet__content">
            <div>
              <%= link_to recipe.title, recipe_path(id: recipe.id), class: 'tweet__title' %>
              <div class="tweet__description"><%= recipe.description %></div>
            </div>
            
          </div>

            <%= link_to recipe_path(recipe) do %>
              <div class="tweet__img">
                <%= image_tag recipe.image.url %>
              </div>
            <% end %>
          <div class="tweet__reaction">
            <%= link_to recipe_path(id: recipe.id), class: "tweet__comment" do %>
              <i class="far fa-comment"></i>
              <span><%= recipe.comments.length %></span>
            <% end %>
            <div id="recipe_<%= recipe.id %>" >
              <%= render partial: "recipes/favorite", locals: { recipe: recipe } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @tweet %>
</section>
