<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div id="global-container">
      <%= render 'shared/mobile-menu' %>
      <div id="container">
        <div class="mobile-menu__cover"></div>
        <div class="nav-trigger"></div>
          <%= render 'shared/header' %>
          <div class="main-top">
            <%= yield %>
            <%= render 'shared/footer' %>
          </div>
      </div>
    </div>
  </body>
  
</html>
